In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
f_app_train = os.path.join('D:\python\python64\ML100', 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [4]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [6]:
data_dum = pd.get_dummies(sub_train)
pd.DataFrame(data_dum)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
307506,0,0,0,0,1,0,0
307507,0,1,0,0,0,0,0
307508,0,0,0,0,1,0,0
307509,0,0,0,0,0,0,1
307510,0,0,0,0,1,0,0

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
sk_LB = sub_train
sk_LB['WEEKDAY_APPR_PROCESS_START'] = labelencoder.fit_transform(sk_LB['WEEKDAY_APPR_PROCESS_START'])
sk_LB

        WEEKDAY_APPR_PROCESS_START
0                                6
1                                1
2                                1
3                                6
4                                4
...                            ...
307506                           4
307507                           1
307508                           4
307509                           6
307510                           4

[307511 rows x 1 columns]

In [12]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
sk_OHE=onehotencoder.fit_transform(sk_LB).toarray()

In [14]:
pd.DataFrame(sk_OHE)

          0    1    2    3    4    5    6
0       0.0  0.0  0.0  0.0  0.0  0.0  1.0
1       0.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  1.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  1.0
4       0.0  0.0  0.0  0.0  1.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...
307506  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307507  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307508  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307509  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307510  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[307511 rows x 7 columns]